<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../static/webapp/style.css" />

  <!-- Load plotly.js into the DOM -->
  <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>

<body>

  <div style="display: none" id="jsonData" data-json="{{ jsondata }}"></div>

  <div class="header">
    <a class="logo" href="{% url 'index' %}">{% load static %}<img src="{% static 'logo.png' %}" id="logo"></a>
  </div>

  <div class="container mt-3">
    <h2></h2>
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>OOPS! Something went wrong... </h1>
      <p>The sensor ID: "{{sensor_id}}" is currently unavailable, the sensor is currently unavailable, but if you like
        you can take a look at the previously sampled data</p>
    </div>
  </div>
  <div id="missingdiv">
    <div id="reload_div">
      <div>
        <label for="link_reload">Try to reload the page</label>
      </div>
      <div><a
          href="/webapp/missingsensor/{{sensor_id}}">
          {{sensor_id}}</a>
      </div>
    </div>
      <div>
        <div>
          <label for="link_grafana">Do you want to see more data? </label>
        </div>
        <div><a target=”_blank”
            href="http://localhost:8080/d/6KG_7FD7z/weather-data?orgId=1&var-sensor_list={{sensor_id}}&from=now-24h&to=now">Grafana
            Weather Data Dashboard</a>
        </div>
      </div>
  </div>

  <div class="footer">
    <div>Nicola Amoriello & Andrea Policarpi 2021.</div>
  </div>

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
<script src="../../static/webapp/js/index.js"></script>
<script src='../../static/webapp/js/chart.js'></script>
</body>

</html>